<footer>
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="footer-wrap">
      <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
      <p>
      	<a href="https://github.com/VincentCope/Caerus" taget="_blank">Caerus</a> | Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
      </p>
  </div>
</footer>
<span class="backtop"><i class="fa fa-chevron-up"></i></span>