.footer-wrap{
	background-color: $color-main;
	padding-top:5px;
	padding-bottom:5px;
}
.footer-wrap p{
	margin:0;
	text-align: center;
	font-size:14px;
	color:#fff;
	line-height: 20px;
}
.footer-wrap p a{
	color:#fff;
	text-decoration: none;
}
.footer-wrap p a:hover{
	text-decoration: underline;
}

/* back to top */
.backtop{
	position: fixed;
	bottom:60px;
	right:10px;
	display: none;
	height:50px;
	width:50px;
	background-color: $color-main;
	border-radius:3px;
	text-align:center;
	z-index:999;
	opacity: 0.9;
	i{
		display: block;
		height:50px;
		width:50px;
		line-height: 50px;
		color: #fff;
		font-size: 20px;
	}
}