#footer
  background: color-background
  padding: 50px 0
  @media mq-mobile
    padding: 10px 0
  color: color-grey
  a
    color: color-main
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em
  @media mq-mobile
    text-align: center