@media mq-mobile
  #mobile-nav
    display: block
    overflow: hidden
    height: 0px
    background: color-mobile-nav-background

@media mq-normal
  #mobile-nav
    display: none

@media mq-mobile
  .mobile-nav-link
    display: block
    color: color-header-default
    text-decoration: none
    padding: 15px 20px
    &:active
      background-color: color-main
      color: #fff
