#sidebar
  @media mq-normal
    column(sidebar-column)
  @media mq-mobile
    .recent-page,.archive,.tags
      display: none
    .cloud
      text-align: center
      h3
        text-indent: 0px

.widget-wrap
  margin-bottom: block-margin
  background-color: #fff

.widget-title
  @extend $block-caption
  text-indent: 15px
  font-size: 18px
  padding-top: 5px

.widget
  color: color-sidebar-text
  text-shadow: 0 1px #fff
  padding: 0 15px
  border-radius: 3px
  a
    color: color-main
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc